.card{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 200px;
    height: 100px;
    color: white;
}

.blue{
    background-color: rgb(36, 36, 172);
}

.green{
    background-color:green;
}

.red{
    background-color: rgb(207, 38, 38);
}

.orange{
    background-color: rgb(236, 91, 38);
}